@charset "UTF-8";
/* CSS Document LAURA MERINO ORTIZ*/

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #BFD9E3;
	text-align: center;
	font-family: sans-serif;
	margin:0px;
	color: #0C1640;
} 

#logo{
	background-image: url('https://media.istockphoto.com/id/1341681278/vector/two-hands-the-concept-of-protecting-anything-vector-illustration-interconnection.jpg?s=612x612&w=0&k=20&c=QZmkMdTLOVyzaPi-SgvHy0KNa8cC47wl0b3mfPyxsM0=');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#logo:hover{
	background-color: white;
}

h1{
	margin-top:50px;
}

nav{
	width: 100%;
	height: 70px;
	background-color: white;
	text-align: center;
	position: relative;
}

nav ul{
	list-style: none; 
	width: 100%;
}

li{
	text-align: center;
	float: left;
}

.primer {
	margin-top: 22px;
}

nav ul li{
	cursor: pointer;
    width: 200px;
	padding-top: 20px;
	background-color: white;
	height: 50px;
}

#sub ul li, #sub2 ul li{
    display: none;      /*ocultamos el submenu*/
	padding-bottom:10px ;
}

#sub:hover li, #sub2:hover li{
    display: block;         /*Cuando hacemos mouseover por la opcion ' opciones' del menu mostramos los li*/

}

li:hover{
	background-color: #2988AD;
	color: white ;
}
li:hover > a{
	color: white ;
}

#titulo{
	margin-top: 150px;
}

div#form{
	margin-top:40px;
}

.oculto{
	display: none;
}

div#form >form> label{
	font-size:2.5em;
	font-style: bold;
	color: #0C1640;
}

div#form >form> input{
	margin-top:40px;
	margin-bottom:20px;
	color: white;
    background-color: #2988AD;
	font-size:1.3em;
}

div#form >form> input:hover{
	background-color: white;
	color: #2988AD;
	transition: all .5s;
}

div#form >form> input#nombre{
	margin-top:40px;
	background-color: white;
    color: #2988AD;
}

table{
	width:450px;
	margin: 50px auto;
	border-collapse: collapse;
	border-color: #2988AD;
	color: #0C1640;
	font-size:1.5em;
}

th{
	background-color: #2988AD;
	color: white;
	padding:15px;
}

tr{
	border: 1px solid #2988AD;
}

tr a{
	margin-left:10px;
}


a{
	text-decoration:none;
	color:#0C1640;
	font-size:1.5em;
	width: 100%;
}

button{
	margin:30px;
    background-color: transparent;
}

button:hover{
    background-color: #2988AD;
	transition: all .5s;
}

button>a:hover{
	color: white;
	transition: all .5s;
}

.modificar{
	background-color:#B0F0D1;
}

.eliminar{
	background-color:#FA9691;
}

.modificar:hover, .eliminar:hover{
	filter: brightness(0.7);
}

#retos{
	min-width: 1300px;
}

#retos >tbody> tr >td > a{
	font-size: 1.1em;
}

#retos td{
	padding: 15px 0px;
}

#formReto{
	font-size: 1em;
}

#formReto input, 
#formReto textarea,
#formReto select{
	margin: 20px 0px;
}

#publiopciones{
	display: inline-block;
}

#inscripcion, #realizacion{
	padding: 10px;
	border: 2px #0C1640 solid;
	display: inline-block;
	margin-top: 20px;
}

input[type="submit" i], input[type="reset" i]  {
	background-color: #2988AD;
	color: white;
	border-width:1px;
	min-width: 100px;
	font-size: 1.3em;
	cursor: pointer;
	transition: 0.5s;
}

input[type="submit" i]:hover, input[type="reset" i]:hover  {
	background-color: white;
	color: #2988AD;
	border-width:1px;
	min-width: 100px;
	font-size: 1.3em;
	cursor: pointer;
}

#datos{
	min-width: 700px;
}

#datos th{
	border:1px white solid;
}

#datos>tbody>tr> th> a{
	color: white;
	font-size: 1em;
}

#datos>tbody >tr > th:hover > a{
	color: #2988AD;
	background-color: white;
}